<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Huffman Encoding Decoding</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
    <h1><u>Huffman Encoding Decoding</u></h1>
    <div>
        <form id="compressForm">
            <label for="compressFile">Select file to encode:</label>
            <input type="file" id="compressFile" name="file">
            <button type="submit">Encode</button>
        </form>
    </div>
    <div>
        <form id="decompressForm">
            <label for="decompressFile">Select file to decode:</label>
            <input type="file" id="decompressFile" name="file">
            <button type="submit">Decode</button>
        </form>
    </div>
    <div id="output"></div>
    <script src="/js/scripts.js"></script>
</body>
</html>
